## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Mahebourg,MU,70.09,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,10,Albany,US,72.25,few clouds,42.6001,-73.9662,NaN
2,19,Kapaa,US,87.78,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,20,Itarema,BR,75.97,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
4,26,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat","Lng"]]
max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

markers = gmaps.marker_layer(locations_df, info_box_content=hotel_info)
fig.add_layer(markers)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Griffith")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Griffith")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Hamilton")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Jamestown")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Mayo")]

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
trip = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, 
                          vacation_end, 
                          vacation_stop1, 
                          vacation_stop2, 
                          vacation_stop3],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,433,Griffith,US,75.31,clear sky,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
1,433,Griffith,US,75.31,clear sky,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
2,480,Hamilton,US,78.75,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
3,129,Jamestown,US,71.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,665,Mayo,US,84.94,few clouds,38.8876,-76.5119,Resorts Resource Group International

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))